@charset "utf-8";
/* CSS Document */
body {
	background-color: palegoldenrod;
}
h1 {
	color: cadetblue; 
	text-align: center
}
a {
	text-decoration: none;
}
#firstp {
	color: tomato;
	text-align: left;
	line-height: 1.5;
}
#secp {
	color: coral;
	text-align: left;
	line-height: 1.5;
}
.blue {
	color: blue;
}
.red {
	color: red;
}